<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Flights</title>
</head>
<nav>
  <a href="/">Home</a><br>
  <a href="/flights">All Flights</a><br>
  <a href="/flights/new">Add a Flight</a>
  </nav>
<body>
    <h1>Update Flight Information</h1>
    <div class="flightdetails">
    <form action="/flights/<%= flight._id %>?_method=PUT" method="POST">
        <label>Airline:
            <select name="airline" value=<% flight.airline%>>
                <option value="<%= flight.airline%>"><%= flight.airline%></option>
                <option value="Southwest">Southwest</option>
                <option value="United">United</option>
                <option value="American">American</option>
              </select>
            </label><br>
        <form action="/flights/<%= flight._id %>?_method=PUT" method="POST"><br>
        <label>Airport:
          <select name="airport" value=<% flight.airport%>>
            <option value="<%= flight.airport%>"><%= flight.airport%></option>
              <option value="AUS">AUS</option>
              <option value="DAL">DAL</option>
              <option value="LAX">LAX</option>
              <option value="SAN">SAN</option>
              <option value="SEA">SEA</option>
            </select>
        </label><br><br>
        <label>Flight Number:
          <input type="text" name="flightNo" value="<%= flight.flightNo %>">
        </label><br><br>
        <label for="departs">Departs:
          <input type="datetime-local" id="departs" name="departs" value=<% flight.departs%>>
        </label><br>
        
        <br><br>
        <input type="submit" value="Update Flight" class="btn">
      </form>
    </div>
</body>
</html>