<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mongoose Flights</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<nav>
  <a href="/">Home</a><br>
  <a href="/flights">All Flights</a><br>
  <a href="/flights/new">Add a Flight</a>
  </nav>
<body>
  
  <h1>Flight List</h1>
  <div class="flightList">
  <table>
    <thead>
      <tr class="titles">
        <th>Airline</th>
        <th>Origin</th>
        <th>Flight Number</th>
        <th>Departs</th>
        <th>Details</th>
        <th>Now Boarding</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(function(flight) { %>
        <tr>
          <td><%= flight.airline %></td>
          <td><%= flight.airport %></td>
          <td><%= flight.flightNo %></td>
          <td><%= flight.departs %></td>
          <td><a href="/flights/<%= flight._id %>">Details</a></td>
          <td><%= flight.nowBoarding ? 'Yes' : 'No' %></td>    
          <td>
            <form action="/flights/<%= flight._id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn">X</button>
            </form>
          </td>
        </div>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>